---
---

@import "{{ site.theme }}";

h1.header{
  font-size: 24px !important;
}
.footer{
  visibility: hidden !important;
}
.linkedin{
  background: url(/images/linkedinicon.png) no-repeat 1px !important;
}
.resume{
  background: url(/images/cv.png) no-repeat 1px !important;
}

